<%- include('partials/header') %>

  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque provident magnam nulla numquam alias voluptates sint nihil magni aperiam mollitia ad quasi dolor ab earum accusantium nemo deleniti, rem perferendis?</p>

  <%- include('partials/footer') %>
