<%- include('partials/header') %>

  <h1>Contact</h1>
  <form>
    <label for="form-email">Email</label>
    <input type="email" name="form-email" id="form-email" placeholder="test@test.com">
    <button>Submit</button>
  </form>

  <%- include('partials/footer') %>
